@import "tailwindcss";
@plugin "daisyui";

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-white;
  color: black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.font-inter{
  font-family: "Inter", sans-serif;
}
.font-cinzel{
  font-family: "Cinzel", serif;
}
.font-raleway{
  font-family: "Raleway", sans-serif;
}

li .active{
  color: #EEFF25;
}

.img-shape{
  border-radius: 0px 200px 200px 200px;
}